#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
}

#inspire {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.container.fill-height {
    align-items: normal;
}

a.side_bar_link {
    text-decoration: none;
}

.card__title--primary,
.card__text {
    text-align: center;
}

.card,
.flex_xs4,
.v_card {
    height: 100% !important;
}

.flex.xs4 {
    flex-basis: 50% !important;
    max-width: 50% !important;
}

.centrar-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.centrar-elementos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-primario {
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    color: white;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_agregar {
    margin-top: 30px;
}

/* Agregar Album -> /musica/agregar */

.contenedor-registro-albums {
    margin-top: 150px;
}

.imagen-apps {
    max-width: 40%;
    max-height: 40%;
    margin: 20px 0;
}

.carrusel {
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    max-width: max-content;
    width: max-content;
}

.formulario {
    margin: 10% 30% 5% 30%;
    padding: 2% 5% 5% 5%;
    background: linear-gradient(to right, #f8f7f7, #f0f0f0);
}

.general-margin-top {
    margin-top: 20px;
}

.footer {
    height: 50px;
    justify-content: center;
}
